div.travel {
  margin: 98px 50px 98px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex: none;
}
.travel-image.df {
  display: flex;
  align-items: flex-start;
  /* min-width: 580px */
}
.travel-image.df img:nth-child(2) {
  position: absolute;
  left: 269px;
  top: 117px;
}
.travel-image.df img:nth-child(3) {
  left: 123px;
}
.travel-text {
  max-width: 580px;
}
.travel-text span {
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  color: #295943;
  font-style: normal;
}
.travel-text h2 {
  font-weight: 700;
  font-size: 27.75px;
  line-height: 33px;
  color: #3d3e48;
  padding: 30px 0 30px 0;
}
p.text.info.mg20 {
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #3d3e48;
}

.travel-number {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.number1.info1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.number1.info1 :nth-child(2) {
  padding-bottom: 20px;
}
.number2.info2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.number2.info2 :nth-child(2) {
  padding-bottom: 20px;
}
.travel-number label {
  font-weight: 700;
  font-size: 27.65px;
  line-height: 33px;
  color: #295943;
}
.travel-number span {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #3d3e48;
}
