.footer {
  background: #295943;
  height: 447px;
  color: #ffffff;
}
.footer-content {
  padding: 41px 50.33px 59px 50px;
  background: #295943;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.social-image a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.social-image img {
  cursor: pointer;
}
.footer-logo {
  width: 370px;
}
.footer-logo span {
  font-weight: 400;
  font-size: 33.18px;
  line-height: 120%;
  color: #ffffff;
}
.footer-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  max-width: 281px;
  padding: 15px 0px 15px 0px;
}
.menu-foo p {
  font-style: normal;
  font-weight: 700;
  font-size: 19.2px;
  line-height: 180%; /*35px*/
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 15px;
}
ul.link-item-menu {
  list-style: none;
  padding: 0;
}
ul.link-item-menu li a {
  color: #ffffff;
  text-decoration: none;
}
ul.ser-item-menu {
  list-style: none;
  padding: 0;
}
ul.ser-item-menu li a {
  color: #ffffff;
  text-decoration: none;
}
.contact-info p {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.menu-foo ul.link-item-menu {
  line-height: 30px;
  padding-top: 7px;
}
.menu-foo ul.ser-item-menu {
  line-height: 30px;
  padding-top: 7px;
}
@media screen and (max-width: 1024px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.travel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .travel-text {
    padding-top: 50px;
  }
  .travel-text span.travel-media {
    font-size: 45.5px;
    text-align: center;
  }
}
